body {
	width: 1280px;
	margin: 0 auto;
	font-family: "Microsoft YaHei";
	background-color: #ffffff;
}
a {
	color: #fff;
	text-decoration: none;
}
#body{
	width: 1280px;
	height: 3396px;
}
#top{
	position: absolute;
	width: 1280px;
	height: 534px;
	background-image: url(./images/top.png);
}
#head{
	position: absolute;
	margin-top: 0px;
	width: 1172px;
	height: 78px;
	margin-left: 108px; 
}
#logo{
	position: absolute;
	width: 64px;
	height: 20px;
	color:#fff;
	margin-top: 58px;
	padding-left: 14px;
	line-height: 20px;
}
#logo:hover{
	color: #1abc9c;
}
#start{
	position: absolute;
	width: 49px;
	height: 20px;
	color: #fff;
	margin-left: 714px;
	margin-top: 58px;
	line-height: 20px;
	text-decoration: underline;
}
#start:hover{
	color: #1abc9c;
}
#me{
	position: absolute;
	width: 96px;
	height: 20px;
	margin-left:791px;
	color:#1abc9c;
	margin-top: 58px;
	line-height: 20px;
}
#me:hover{
	color: #ffffff;
}
#work{
	position: absolute;
	width: 49px;
	height: 20px;
	color: #fff;
	margin-left: 899px;
	margin-top: 58px;
	line-height: 20px;
}
#work:hover{
	color: #1abc9c;
}
#contact{
	position: absolute;
	float: right;
	width: 72px;
	height: 20px;
	color: #fff;
	margin-left:972px;
	margin-top: 58px;
	line-height: 20px;
}
#contact:hover{
	color: #1abc9c;
}
#center{
	position: absolute;
	width: 600px;
	height: 55px;
	color: #fff;
	margin-left: 352px;
	margin-top: 243px;
	line-height: 55px;
	padding-left: 0px;
	font-size: 52px;
}
#line{
	position: absolute;
	width: 660px;
	height: 2px;
	margin-left: 316px;
	margin-top: 306px;
	background-color: #fff;
}
#little{
	position: absolute;
	width: 400px;
	height: 28px;
	padding-left: 0px;
	color:#fff;
	margin-top: 330px;
	margin-left: 465px;
	line-height: 28px;
	font-size: 25px;
}
#btn{
	position: absolute;
	width: 238px;
	height: 64px;
	margin-top: 502px;
	margin-left: 525px;
	background-image: url(./images/btn.png);
	background-size: 100% 100%;
	font-size: 18px;
	line-height: 64px;
	text-align: center;
}
#btn:hover{
	background-position: -2px -1px;
}
#go{
	color: #fff;
}
#font{
	position: absolute;
	width: 348px;
	height: 35px;
	margin-top: 694px;
	margin-left: 470px;
	text-align: center;
	color:#1abc9c;
	line-height: 35px;
	font-size: 35px;
}
#txt{
	position: absolute;
	width: 826px;
	height: 150px;
	margin-left:230px; 
	margin-top:776px;
	background-image: url(./images/txt.png); 
	background-size: 100% 100%;
}
#pic{
	position: absolute;
	width: 1280px;
	height: 420px;
	margin-top: 962px;
}
#pic1{
	position: absolute;
	width: 73px;
	height: 73px;
	margin-top: 44px;
	margin-left:228px;
	background-image: url(./images/Icon.png);
	background-size: 100% 100%;
}
#pic2{
	position: absolute;
	width: 73px;
	height: 73px;
	margin-top: 44px;
	margin-left:608px;
	background-image: url(./images/Icon1.png);
	background-size: 100% 100%;
}
#pic3{
	position: absolute;
	width: 73px;
	height: 73px;
	margin-top: 44px;
	margin-left:988px;
	background-image: url(./images/Icon2.png);
	background-size: 100% 100%;
}
#txt1{
	position: absolute;
	width: 280px;
	height: 235px;
	margin-left: 124px;
	margin-top: 141px;
	background-image: url(./images/Text.png);
	background-size: 100% 100%;
}
#txt2{
	position: absolute;
	width: 280px;
	height: 235px;
	margin-left: 505px;
	margin-top: 141px;
	background-image: url(./images/Text1.png);
	background-size: 100% 100%;
}
#txt3{
	position: absolute;
	width: 280px;
	height: 235px;
	margin-left: 880px;
	margin-top: 141px;
	background-image: url(./images/Text2.png);
	background-size: 100% 100%;
}
#photo{
	position: absolute;
	width: 1024px;
	height: 840px;
	margin-left: 130px;
	margin-top: 1490px;
}
#photo1{
	position: absolute;
	width: 430px;
	height: 322px;
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(./images/photo.png);
	background-size: 100% 100%;
}
#photo2{
	position: absolute;
	width: 430px;
	height: 322px;
	margin-left: 600px;
	margin-top: 0px;
	background-image: url(./images/photo1.png);
	background-size: 100% 100%;
}
#photo3{
	position: absolute;
	width: 430px;
	height: 322px;
	margin-left: 0px;
	margin-top: 380px;
	background-image: url(./images/photo.png);
	background-size: 100% 100%;
}
#photo4{
	position: absolute;
	width: 430px;
	height: 322px;
	margin-top: 380px;
	margin-left: 600px;
	background-image: url(./images/photo2.png);
	background-size: 100% 100%;
}
#button{
	position: absolute;
	width: 234px;
	height: 62px;
	margin-left: 396px;
	margin-top: 780px;
	overflow: hidden;
	background-image: url(./images/button.png);
	background-size: 100% 100%;
}
#button:hover{
	background-position: -2px -1px;
}
#input{
	position: absolute;
	width: 820px;
	height: 496px;
	margin-top: 2484px;
	margin-left: 236px;
}
#tittle{
	position: absolute;
	width: 305px;
	height: 50px;
	margin-left: 262px;
	margin-top: 0px;
	color: #1abc9c;
	line-height: 50px;
	font-size: 46px;
	text-align: center;
}
#name{
	position: absolute;
	width: 396px;
	height: 80px;
	margin-left: 0px;
	margin-top: 120px;
	font-size: 40px;
	background-color: #e4e8e8;
}
#email{
	position: absolute;
	width: 396px;
	height: 80px;
	margin-left: 427px;
	margin-top: 120px;
	font-size: 40px;
	background-color: #e4e8e8;
}
#help{
	position: absolute;
	width: 820px;
	height: 270px;
	margin-left: 0px;
	margin-top: 230px;
	font-size: 40px;
	font-family: "Microsoft YaHei";
	background-color: #e4e8e8;
}
#end{
	position: absolute;
	width: 1280px;
	height: 290px;
	margin-left: 0px;
	margin-top: 3107px;
	background-image: url(./images/end.png);
	background-size: 100% 100%;
}